:root {
    --colorOne: #141414;
    --colorTwo: #5c5c5c;
    --colorWhite: #e5e5e5;

    --tileBorderRadius: 4px;

    --fontOne: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%; 
    scroll-behavior: smooth;
    font-family: var(--fontOne);
    background-color: var(--colorOne);
}

            /* Styles pour la nav */
#sidebar {
    position: fixed; /* Fixe la navigation à la gauche de la page */
    top: 0;
    left: 0;
    width: 10%; 
    height: 100%; 
    background: linear-gradient(to right, rgba(0, 0, 0, 0.61), rgba(54, 54, 54, 0)); /* Dégradé horizontal */
    display: flex;
    align-items: center; /* Centrage vertical des éléments internes */
    box-sizing: border-box;
    z-index: 1000;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 2vh;
    width: 100%; 
}

#sidebar ul li {
    width: 100%; /* S'assure que chaque élément li utilise toute la largeur */
    display: flex; /* Alignement vertical des éléments */
    justify-content: flex-start; /* Aligner les items à gauche */
    margin: 0 0 3vh 0; /* Espace vertical entre les icones */
}

#sidebar ul li a {
    display: block; /* Étend les liens pour remplir les éléments li */
    padding: 1.2%;
    padding-left: 3%; /* Ajoute un espace à gauche pour que les icônes ne soient pas collées au bord */
}

#sidebar ul li a img {
    filter: brightness(0) invert(1); /* Rend les images blanches */
    width: 40px; /* Taille des icônes */
    height: 40px; 
}







                    /* Styles pour home */
#home {
    height: 100vh;
    background-image: url("../addons/imgs/home_background.JPG");
    background-size: cover; /* Ajuste l'image pour couvrir entièrement la zone sans déformation */
    background-position: center; /* Centre l'image dans la section */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.buttons_container {
    position: absolute;
    bottom: 40%; /* Position par rapport au bas */
    left: 15%; /* Espacement depuis la gauche de la page, ajustez selon l'épaisseur de votre sidebar */
    display: flex;
    gap: 10px; /* Espace entre les boutons */
}

.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px; /* Bords arrondis */
    text-decoration: none; /* Supprime le soulignement des liens */
    color: inherit; /* Hérite de la couleur du parent */
    font-size: 16px; /* Taille de police */
    font-weight: bold;
}

.button a.play {
    width: 12vh;
    background-color: white;
    color: black;
}

.button a.cv {
    width: 15vh;
    background-color: rgba(24, 24, 24, 0.582);
    color: white;
}

.button a.cv img {
    filter: invert(100%); /* Inverse les couleurs pour rendre le noir blanc et vice versa */
}


.button img {
    width: 20px; /* Taille des icônes */
    height: 20px;
    margin-right: 5px; /* Espace entre l'icône et le texte */
}

.button span {
    margin-left: 10px; /* Espace après l'icône */
}

#projects, #experiences, #education, #contact {
    height: 100vh;
}

/* Projets */.thumbSection {
    padding-top: 3%;
    color: var(--colorWhite);
}

.thumbTiles.swiper-container {
    margin-top: 45vh;
    padding: 0 4%;
    overflow-x: hidden;
}

.thumbTile {
    width: 20%;
    overflow: visible;
}

.thumbTile__image {
    padding-top: 50%; 
    width: 100%;
    border-radius: var(--tileBorderRadius);
    transition: transform 0.3s ease, margin-top 0.3s ease, border 0.3s ease;
}

.thumbTile__image:hover {
    margin-top: -5vh;
    transform: scale(1.1);
}

.dynamic-content {
    position: absolute;
    bottom: 50%;
    left: 10%;
    color: white;
    font-size: 20px;
    background: rgb(85,81,81);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.332) 0%, rgba(255,255,255,0) 100%);
    border-radius: 5px;
}

.dynamic-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.dynamic-content img {
    padding-top: 100px;
}

.dynamic-content p {
    font-size: 16px;
}




                                    /* Styles pour expériences */

.experiences {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    border-radius: 10px;
}
.exp-container {
    display: flex;
    align-items: center;
    width: 100%;
}
.exp-text {
    flex: 1;
    padding: 20px;
}
.exp-image {
    flex: 1;
}
.exp-image img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.exp-titre {
    font-size: 3rem;
    font-weight: bold;
}

.exp-desc {
    font-size: 1.1rem;
}

.plus_d-infos {
    background-color: white;
    width: 38%;    
}

.plus_d-infos span{
    color: var(--colorOne);
}


            /* Pages projet */

.projet_infos {
    background-color: var(--colorOne);
    height: 100vh;
    padding: 0;
    margin: 0;
}

.divs-container {

}

.bulles {
    margin: 8%;
    padding: 5%;
    height: 10vh;
    width: 40%;
    background-color: var(--colorTwo);
    border-radius: var(--tileBorderRadius);
    border: 1px solid white;
}

.bulles span{ 
    color: var(--colorWhite);
    font-size: 1.2rem;
}