:root {
    --colorOne: #141414;
    --colorTwo: #5c5c5c;
    --colorWhite: #e5e5e5;

    --tileBorderRadius: 4px;

    --fontOne: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%; 
    scroll-behavior: smooth;
    font-family: var(--fontOne);
    background-color: var(--colorOne);
}

            /* Styles pour la nav */
#sidebar {
    position: fixed; /* Fixe la navigation à la gauche de la page */
    top: 0;
    left: 0;
    width: 10%; 
    height: 100%; 
    background: linear-gradient(to right, rgba(0, 0, 0, 0.61), rgba(54, 54, 54, 0)); /* Dégradé horizontal */
    display: flex;
    align-items: center; /* Centrage vertical des éléments internes */
    box-sizing: border-box;
    z-index: 1000;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 2vh;
    width: 100%; 
}

#sidebar ul li {
    width: 100%; /* S'assure que chaque élément li utilise toute la largeur */
    display: flex; /* Alignement vertical des éléments */
    justify-content: flex-start; /* Aligner les items à gauche */
    margin: 0 0 3vh 0; /* Espace vertical entre les icones */
}

#sidebar ul li a {
    display: block; /* Étend les liens pour remplir les éléments li */
    padding: 1.2%;
    padding-left: 3%; /* Ajoute un espace à gauche pour que les icônes ne soient pas collées au bord */
}

#sidebar ul li a img {
    filter: brightness(0) invert(1); /* Rend les images blanches */
    width: 40px; /* Taille des icônes */
    height: 40px; 
}







                    /* Styles pour home */
#home {
    height: 100vh;
    background-image: url("../addons/imgs/home_background.JPG");
    background-size: cover; /* Ajuste l'image pour couvrir entièrement la zone sans déformation */
    background-position: center; /* Centre l'image dans la section */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}
#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}

.buttons_container {
    position: absolute;
    bottom: 60%; /* Position par rapport au bas */
    left: 15%; /* Espacement depuis la gauche de la page, ajustez selon l'épaisseur de votre sidebar */
    display: flex;
    gap: 10px; /* Espace entre les boutons */
    z-index: 1000;
}

.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px; /* Bords arrondis */
    text-decoration: none; /* Supprime le soulignement des liens */
    color: inherit; /* Hérite de la couleur du parent */
    font-size: 16px; /* Taille de police */
    font-weight: bold;
}

.button a.play {
    width: 12vh;
    background-color: white;
    color: black;
}

.button a.cv {
    width: 15vh;
    background-color: rgba(24, 24, 24, 0.582);
    color: white;
}

.button a.cv img {
    filter: invert(100%); /* Inverse les couleurs pour rendre le noir blanc et vice versa */
}


.button img {
    width: 20px; /* Taille des icônes */
    height: 20px;
    margin-right: 5px; /* Espace entre l'icône et le texte */
}

.button span {
    margin-left: 10px; /* Espace après l'icône */
}

#projects, #experiences, #education, #contact {
    height: 100vh;
}

/* Projets */.thumbSection {
    padding-top: 3%;
    color: var(--colorWhite);
}

.thumbTiles.swiper-container {
    margin-top: 45vh;
    padding: 0 4%;
    overflow-x: hidden;
}

.thumbTile {
    width: 20%;
    overflow: visible;
}

.thumbTile__image {
    padding-top: 50%; 
    width: 100%;
    border-radius: var(--tileBorderRadius);
    transition: transform 0.3s ease, margin-top 0.3s ease, border 0.3s ease;
}

.thumbTile__image:hover {
    margin-top: -5vh;
    transform: scale(1.1);
}

.dynamic-content {
    position: absolute;
    bottom: 50%;
    left: 10%;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.dynamic-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.dynamic-content img {
    padding-top: 100px;
}

.dynamic-content p {
    font-size: 16px;
}




                                    /* Styles pour expériences */

.experiences {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    border-radius: 10px;
}
.exp-container {
    display: flex;
    align-items: center;
    width: 100%;
}
.exp-text {
    flex: 1;
    padding: 20px;
}
.exp-image {
    flex: 1;
}
.exp-image img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.exp-titre {
    font-size: 3rem;
    font-weight: bold;
}

.exp-desc {
    font-size: 1.1rem;
}

.plus_d-infos {
    background-color: white;
    width: 38%;    
}

.plus_d-infos span{
    color: var(--colorOne);
}


            /* Pages projet */

.project-container {
    margin: 0;
    font-family: Arial, sans-serif;
}
.back-link {
    position: fixed; /* Fixed position to stay at the top */
    top: 20px;
    left: 20px;
    z-index: 3; /* Higher z-index to ensure it is on top */
}
.back-link a {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 5px;
}
.project-header {
    position: relative;
    height: 100vh;
    background: url('../addons/imgs/projets/background/Background_Eventura.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px; /* Padding to align text to the left */
    text-align: left;
}
.project-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}
.project-header h1, .project-header p {
    position: relative;
    z-index: 1;
    color: white;
}
.project-header h1 {
    font-size: 3rem;
    margin: 0;
}
.project-header p {
    font-size: 1.2rem;
    margin: 10px 0 0;
}
.gallery {
    padding: 20px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column; /* Changed to column */
    gap: 20px; /* Added gap between images */
}
.gallery img {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 60px; /* Set the width */
    height: 60px; /* Set the height */
    background-color: rgba(0, 0, 0, 0.5); /* Dark grey transparent background */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-to-top ion-icon {
    font-size: 2.5rem; /* Icon size */
    color: white;
}


                                            /* Footer */

.footer {
    background-color: #181818; /* Slightly lighter dark background for the footer */
    padding: 40px 20px;
    text-align: center;
    color: white; /* White text for contrast */
}
.footer-logo img {
    width: 50px; /* Adjust the size as needed */
    margin-bottom: 20px;
}
.footer-nav {
    margin: 20px 0;
}
.footer-nav a {
    margin: 0 15px;
    color: #aaa; /* Light gray color for the links */
    text-decoration: none;
    font-weight: bold;
}
.footer-nav a:hover {
    color: #fff; /* White color on hover */
}
.footer-social {
    margin: 20px 0;
}
.footer-social a {
    margin: 0 10px;
    color: #aaa; /* Light gray color for the icons */
    font-size: 1.5rem;
}
.footer-social a:hover {
    color: #fff; /* White color on hover */
}
.footer-bottom {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #666; /* Dark gray color for the bottom text */
}
.footer-bottom a {
    color: #666; /* Dark gray color for the imprint link */
    text-decoration: none;
}
.footer-bottom a:hover {
    color: #fff; /* White color on hover */
}                                            