@font-face {
    font-family: 'Bebas Neue';
    src: url('../addons/fonts/BebasNeue.otf') format('opentype');
}

@font-face {
    font-family: 'Graphique W01 Regular';
    src: url('../addons/fonts/Graphique\ W01\ Regular.ttf') format('truetype');
}

:root {
    --colorOne: #141414;
    --colorTwo: #5c5c5c;
    --colorWhite: #e5e5e5;
    --tileBorderRadius: 4px;
    --fontOne: 'Graphique W01 Regular', sans-serif;
    --fontTwo: 'Bebas Neue', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%; 
    scroll-behavior: smooth;
    font-family: var(--fontTwo);
    background-color: var(--colorOne);
}





                                        /* Styles pour la nav */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.61), rgba(54, 54, 54, 0));
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 2vh;
    width: 100%; 
}

#sidebar ul li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 3vh 0;
}

#sidebar ul li a {
    display: block;
    padding: 1.2%;
    padding-left: 3%;
}

#sidebar ul li a img {
    filter: brightness(0) invert(1);
    width: 40px;
    height: 40px; 
}





                                        /* Styles pour home */
#home {
    background-image: url("../addons/imgs/home_background.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}

.buttons_container {
    position: absolute;
    bottom: 45%;
    left: 10%;
    display: flex;
    gap: 10px;
    z-index: 1000;
}

.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: bold;
}

.button a.play {
    width: 12vh;
    background-color: white;
    color: black;
}

.button a.cv {
    width: 15vh;
    background-color: rgba(24, 24, 24, 0.582);
    color: white;
}

.button a.cv img {
    filter: invert(100%);
}

.button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.button span {
    margin-left: 10px;
}

#home, #projet, #experience, #education, #contact {
    height: 100vh;
}





                                        /* Projets */
.thumbSection {
    padding-top: 3%;
    color: var(--colorWhite);
}

.thumbTiles.swiper-container {
    margin-top: 45vh;
    padding: 0 4%;
    overflow-x: hidden;
}

.thumbTile {
    width: 20%;
    overflow: visible;
}

.thumbTile__image {
    padding-top: 50%;
    width: 100%;
    border-radius: var(--tileBorderRadius);
    transition: transform 0.3s ease, margin-top 0.3s ease, border 0.3s ease;
}

.thumbTile__image:hover {
    margin-top: -5vh;
    transform: scale(1.1);
}

.dynamic-content {
    position: absolute;
    bottom: 50%;
    left: 10%;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.dynamic-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.dynamic-content img {
    padding-top: 100px;
}

.dynamic-content p {
    font-size: 2rem;
}





                                        /* Styles pour expériences */
.section_titre {
    font-size: 2.5rem;
    color: var(--colorWhite);
    text-align: center;
    margin: 2%;
    padding-top: 3%;
}

.experiences {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10% 10% 10%;
    border-radius: 10px;
}

.exp-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.exp-text {
    flex: 1;
    padding: 20px;
}

.exp-image {
    flex: 1;
}

.exp-image img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.exp-titre {
    font-size: 3rem;
    font-weight: bold;
}

.exp-desc {
    font-size: 1.1rem;
}

.plus_d-infos {
    background-color: white;
    width: 38%;
}

.plus_d-infos span {
    color: var(--colorOne);
}





                                        /* Pages projet */
.project-container {
    margin: 0;
}

.back-link {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.back-link a {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 5px;
}

.project-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    text-align: left;
    height: 100vh;
}

.project-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}

.project-header h1, .project-header p {
    position: relative;
    z-index: 1;
    color: white;
}

.project-header h1 {
    font-size: 3rem;
    margin: 0;
}

.project-header p {
    font-size: 1.2rem;
    margin: 10px 0 0;
}

.gallery {
    padding: 20px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-to-top ion-icon {
    font-size: 2.5rem;
    color: white;
}





                                        /* Formation */
.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--colorOne);
    padding: 100px 0;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.timeline-content {
    padding: 20px;
    background: #1f1f1f;
    box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
}

.timeline-component {
    margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        width: 3px;
        height: 100%;
    }
    .main-middle {
        opacity: 0;
    }
    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        transform: translateX(-50%);
    }
}

.page_desc {
    font-size: 1.5rem;
}





                                        /* Skills */
.skills_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 40%;
    margin: auto;
}

.skill {
    width: auto;
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
}

.skill img {
    width: 15vh;
    height: auto;
    margin: 10%;
}

.skill_name {
    color: var(--colorWhite);
    font-size: 2.5rem;
}

#JS {
    border-radius: 25px;
}

@media (max-width: 900px) {
    #sidebar {
        opacity: 0;
    }
    
    .experiences {
        padding: 0;
    }

    .exp-text {
        width: 100%;
    }
    .skills_container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 80%;
    }
}





                                        /* Contacte */

 #contact {
    text-align: center; /* Centrer le titre */
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments de la liste horizontalement */
    padding-top: 10vh; 
}
.contact-list li {
    margin: 10px 0;
}
.contact-list a {
    text-decoration: none;
    color: var(--colorWhite); /* Couleur pour LinkedIn */
    font-size: 18px;
    display: flex;
    align-items: center;
}
.contact-list img {
    width: 8vh;
    height: auto;
    margin-right: 10px; /* Ajoute un espace entre l'image et le texte */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

/* Pas besoin de filtres spécifiques pour chaque icône si elles doivent toutes être blanches */



